body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: antiquewhite;
}

#computer-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#my-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px;
}

#choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}